# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# 1. Código Compilado y Binarios de Java
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# 2. Apache Maven (Esencial para no subir la build)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# 3. macOS (Archivos basura del sistema)
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# 4. Entornos de Desarrollo (IDE)
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# Visual Studio Code
.vscode/

# 5. Variables de Entorno y Secretos
# Evita subir credenciales o URLs de producción por accidente
.env
.env.local
.env.*.local
